<nav id="nav-bar">
  <img class="logo" src="/images/Card.png">
  <span class="header">House of Cards</span>
</nav>
<section>
  <form method="POST" action="/register">
       <button type="submit" name="register">Register</button>
  </form>
  <button name="login">Login</button>
</section>
<section>
  <h2>Welcome, Username</h2>
  <form method="POST" action="/logout">
    <button type="submit" name="logout">Logout</button>
  </form>
</section>
<section>
  <form method="POST" action="/login">
    <input type="password" name="password" style="width 250px">
    <label>Password</label>
    <input type="text" name="Username" style="width 250px">
    <label>Username</label>
    <input type="submit" value="Login">
  </form>
</section>















