<nav id="nav-bar">
  <img class="logo" src="/images/Cards.jpg" style="max-width:200px; max-height:200px">
  <span class="header">House of Cards</span>
  <a href="/">Home</a>
</nav>
<section>
  <a href="/register">Register</a>
  <button name="login" id="loginToggle">Login</button>
</section>
<section>
  <h2>Welcome, Username</h2>
  <form method="POST" action="/logout">
    <button type="submit" name="logout" id="logout">Logout</button>
  </form>
</section>
<section>
  <form method="POST" action="/login">
    <input type="text" name="username" style="width 250px" id="usernameText">
    <label>Username</label>
    <input type="password" name="passwordLogin" style="width 250px" id="passwordText">
    <label>Password</label>
    <input type="submit" value="login" id="loginSubmit">
  </form>
</section>
