<!DOCTYPE html>
<html>
<head>
  <title>Game Page</title>
      <link rel="stylesheet" href="/styles/Game.css" type="text/css" />


</head>
<body>
<div id="player1Button">
<button Card 1> </button>
<button Card 2> </button>
<button Card 3> </button>
<button Card 4> </button>
<button Card 5> </button>
<button Card 6> </button>
<button Card 7> </button>
<button Card 8> </button>
<button Card 9> </button>
<button Card 10> </button>
<button Card 11> </button>
<button Card 12> </button>
<button Card 13> </button>
</div>


<img src="https://images-na.ssl-images-amazon.com/images/I/51BMFuBVHLL.jpg">




<div id="player2Button">
<button Card 1> </button>
<button Card 2> </button>
<button Card 3> </button>
<button Card 4> </button>
<button Card 5> </button>
<button Card 6> </button>
<button Card 7> </button>
<button Card 8> </button>
<button Card 9> </button>
<button Card 10> </button>
<button Card 11> </button>
<button Card 12> </button>
<button Card 13> </button>
</div>




</body>
</html>
