<!DOCTYPE html>
<html>
  <head>
    <title>Game Page</title>
        <link rel="stylesheet" href="/styles/Game.css" type="text/css" />
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
      <h1>Session Name</h1>
    </header>
    <main>
      <section class="hands" id="opponent-hand">
        <button>Card 1</button>
        <button>Card 2</button>
        <button>Card 3</button>
        <button>Card 4</button>
        <button>Card 5</button>
        <button>Card 6</button>
        <button>Card 7</button>
        <button>Card 8</button>
        <button>Card 9</button>
        <button>Card 10 </button>
        <button>Card 11 </button>
        <button>Card 12 </button>
        <button>Card 13 </button>
      </section>
      <section>
        <span> put in script that loads the next prize card </span>
      </section>
      <section class="hands" id="your-hand">
        <button>Card 1</button>
        <button>Card 2</button>
        <button>Card 3</button>
        <button>Card 4</button>
        <button>Card 5</button>
        <button>Card 6</button>
        <button>Card 7</button>
        <button>Card 8</button>
        <button>Card 9</button>
        <button>Card 10</button>
        <button>Card 11</button>
        <button>Card 12</button>
        <button>Card 13</button>
      </section>
    </main>
  </body>
</html>
