<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Goofspiel Games</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <h4>Your Games</h4>
    <form method="GET" action="/games/goofspiel/new">
      <input type="submit" value="Create Game" id="createButton">
    </form>
    <main>
      <h3>List of Sessions </h3>
      <table>
        <tr>
          <th>Session</th>
          <th>Game</th>
          <th>Opponent</th>
          <th></th>
        </tr>
        <tr>
          <td>1</td>
          <td>Gespiel</td>
          <td>Germany</td>
          <td>
            <button>Join Game</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Solitaire</td>
          <td>Mexico</td>
          <td>
            <button>Join Game</button>
          </td>
        </tr>
      </table>
    </main>
  </body>
</html>

