CTYPE html>
<html>
<head>
	<title>House of Cards</title>
</head>
<body>
<h2>Welcome to House of Cards!</h2>
    <form method="POST" action="/login">
    	<div>
    		<label for='email'>Email: </label>
    		<input type="email" name="email" placeholder="enter email">
    	</div>
    	
    	<div>
    		<label for='password'>Password: </label>
        	<input type="password" name="password" placeholder="enter password">
    	</div>

        <button type = "submit">Login</button>
    </form>


</body>
</html>

