<!DOCTYPE html>
<html lang="en">
  <head>
    <title>House of Cards</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>



  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <main class="container" id="gameList">
      <h3>List of Games</h3>
      <form method="GET" action="/games/goofspiel">
        <input type="submit" id="goofspielNav" value="Goofspiel">
        <a href="https://en.wikipedia.org/wiki/Goofspiel">Goofspiel Instructions</a>
      </form>
      <form method="GET" action="/games/goofspiel">
        <input type="submit" value="Blackjack">
        <a href="www.wikiinstructions.com">Game Two Instructions</a>
      </form>
      <form method="GET" action="/games/goofspiel">
        <input type="submit" value="5 Card Draw">
        <a href="www.wikiinstructions.com">Game Three Instructions</a>
      </form>
    </main>
    <main class="container" id="gameList">
      <h1>List of Player Rankings</h1>
      <table style="width:50%">
        <tr>
          <th>Name</th>
          <th>Rank</th>
        </tr>
        <tr>
          <td>Lao Tzu</td>
          <td>Gold</td>
        </tr>
        <tr>
          <td>Wong fei hung</td>
          <td>Silver</td>
        </tr>
      </table>
    </main>
  </body>
</html>
