<!DOCTYPE html>
<html lang="en">

<head>
  <title>Andrew's Archive</title>
</head>

<body>
  <header>
    <% include ./partials/_header%>
  </header>
  <main>
    <h1>player username</h1>
    <section class="archiveTable">
      <table>
        <tr>
          <th>Game</th>
          <th>Opponent</th>
          <th>Win/Loss</th>
          <th></th>
        </tr>
        <tr>
          <td>Goofspiel</td>
          <td>Vincent</td>
          <td>Win</td>
        </tr>
        <tr>
          <td>Goofspiel</td>
          <td>Faisal</td>
          <td>Loss</td>
        </tr>
      </table>
    </section>
  </main>
</body>
</html>
